<h3>ユーザーの詳細</h3>
<%= link_to('新規登録', admin_users_path, class: 'waves-effect waves-light btn') %>

<table>
  <tbody>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:admin) %></th>
      <td><%= @user.admin ? 'あり' : 'なし' %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <td><%= @user.created_at %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:updated_at) %></th>
      <td><%= @user.updated_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_admin_user_path, class: 'waves-effect waves-light btn' %>
<%= link_to '削除', [:admin, @user], method: :delete, data: { confirm: "ユーザー#{@user.name}を削除します。よろしいですか？" }, class: 'waves-effect waves-light btn red accent-2' %>
